<div id="login-home">
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center"><strong>Florida Man</strong></h1>
    </div>
    <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form">
                    <h3>Login for For Florida Man</h3>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email *" id="email-input" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" id="password-input" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                    </form>
                </div>
                <div class="col-md-6 signup-form">
                    <h3>Sign up for Florida Man!</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/login.js"></script>



