body {
    background-image: url("welcome-to-florida-1.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.container {
    padding-top: 120px;
}

.btn{
    margin: 3px !important;
  }

footer {
    width:100%;
    height:5%;
    line-height: 30px;
    position:fixed;
    bottom:0;
    left:0;
    background-color: 	#0041AF;
    text-align: center;
}

#signup, #login {
    margin-top: 50px;
    background: white;
}